/*Common*********************************************************/

body {
    color: #545454;
    background: #eff1f5;
}

a {
    color: $main-color;
}

.go-to-top {
    right: 50px;
    bottom: 50px;
    box-shadow: 2px 2px 3px darkgrey;
    border-radius: 50%;
}

.go-to-top-button {
    background-color: $main-color;
    border-radius: 50%;
    color: white;
    width: 60px;
    height: 60px;
}

.go-to-top-button:hover {
    color: white;
}

/*footer*/

.navi-footer-in a {
    color: slategray;
}

.source-org.copyright {
    color: #545454;
}
