/*Heading*********************************************************/

.article h2, .article h3, .article h4 {
    background: white;
    border: none;
	 position:relative;
	 padding-left: 30px;
}

.article h3, .article h4{
	font-weight:600;
	padding: .2em 1em;
   margin: 1.6em 0 .8em;
}

.article h2:before, .article h3:before, .article h4:before {
    content: "";
    position: absolute;
}

.article h2:before {
	 height: 1em;
    border-radius: 50%;
    width: 1em;
    left: 0;
    top: 1.15em;
   	 background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
}

.article h3{
	 border-left: 5px solid dodgerblue;
}

.article h3:before {
    width: .3em;
    height: 100%;
    top: 0;
    left: 0;
    background: $main-color;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

@media (max-width: 480px){
	.article h2:before{top:.75em;}

    h2.entry-card-title.card-title.e-card-title {
        padding: 10px 0 0px 0;
    }
}