/*Heading*********************************************************/

.article {
    h2,
    h3,
    h4 {
        background: white;
        border: none;
        position: relative;
        padding-left: 30px;

        &::before{
            content: "";
            position: absolute;
        }
    }

    h3,
    h4 {
        font-weight: 600;
        padding: 0.2em 1em;
        margin: 1.6em 0 0.8em;
    }

    h2{
        //border-left: 6px solid $main-color;
        border-top: 1px solid $main-color;
        border-bottom: 1px solid $main-color;
        padding: .75em 1em;
    }

    h2:before {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $main-color;
        opacity: 0.1;
    }

    h3 {
        border-left: 6px solid $main-color;
        background-color: whitesmoke;
        padding: .55em 1em;
        margin-left: .6rem;
    }
    /*
    h3:before {
        width: 0.3em;
        height: 100%;
        top: 0;
        left: 0;
        background: $main-color;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    */
}
@media (max-width: 480px) {
    .article h2:before {
        //top: 0.75em;
    }

    h2.entry-card-title.card-title.e-card-title {
        padding: 10px 0 0px 0;
    }
}
