/*Index-main*********************************************************/

.main{
	padding:24px;
}

main, .main{
	 background:transparent;
	 padding-top:0;
	 border-top:0;
	 margin-right:0;
}

/*article list*/
div#list {
    background: transparent;
	 transition: all 500ms;
}

.a-wrap:hover{
	box-shadow:0 2px 6px -3px gray;
	//transform: translateY(-2px);
	transition:all 500ms;
}


.a-wrap{
    background-color: #fff;
}

h2.entry-card-title.card-title.e-card-title {
    font-weight: 100;
    color: #545454;
    padding: 20px 0 20px 0;
}

.entry-card-snippet.card-snippet.e-card-snippet {
    color: slategray;
}

.entry-card-info.e-card-info {
    color: slategray;
}

/*category-label*/
.eye-catch .cat-label, .cat-label {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    color: #fff;
    background-color: $main-color;
    padding: .2em 1em;
    max-width: 80%;
    font-size: 0.9em;
}

/*Pagenation*/

.pagination-next-link {
    border-radius: 30px;
    font-size: .8em;
}

.pagination-next-link,
.page-numbers{
    color: #545454;
    border: none;
    background-color: white;
}

.page-numbers {
    border-radius: 50%;
    transition: all 500ms;
    box-shadow: 0 1px 1px slategrey;
}

a.page-numbers:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 5px slategrey;
}

.pagination .current {
    background-color: $main-color;
    color:white;
}

/*Post*********************************************************/

main > article {
    background: #fff;
	 padding:20px;
}

.entry-content {
	 padding:1em;
    margin: 1em auto 3em auto;
}

header .article-header{
	box-shadow:none;
	position:relative;
}

footer.article-footer.entry-footer {
    margin: auto;
}

.date-tags {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #545454;
    background-color: rgba(245, 245, 245, 0.6);
    font-size: 1.14em;
    font-weight: bold;
    padding: 0.4em 2em;
}

.article-header h1 {
    position: absolute;
    z-index: 1;
    top: 90px;
    left: 0px;
    right: 0px;
    padding: 0.8em 2em;
    margin: 0;
	font-size:1.5em;
	color: #222222;
    text-shadow: 1.5px 1.5px 6px whitesmoke;
    //background-color: rgba(245, 245, 245, 0.74);
    //box-shadow: 0px -6px 6px 3px rgba(245, 245, 245, 0.74);
}

.article-header.category-header h1,
.article-header.tag-header h1{
    position: static;
}

.eye-catch {
    position: relative;
    max-width: 100%;
     background:white;
	 overflow:hidden;
     margin:auto;
     width: 100%;
}

/* eye-chach is ALWAYS shown */
.article-header > .eye-catch-wrap {
    display: flex !important;
}

.eye-catch img {
	 height: 260px !important;
     object-fit: cover;
     opacity: 0.6;
    width: 100%;
}

/* category & tags */

a.cat-link {
    background: $main-color;
}

a.tag-link {
    color: $main-color;
    border-color: $main-color;
}

@media (max-width:1023px){
	main > article {
	 padding:0px;
   }
	article > .entry-content, aritcle > footer.article-footer{
	 padding:10px;
	}
	.entry-categories-tags.ctdt-one-row {
    padding: 0 10px;
   }
}

@media (max-width:834px){
    
    .eye-catch{
        //padding-bottom: 150px;
    }

    .article-header h1{
        //bottom: 150px;
    }
}

/*share-button*/

.share-button a{
    color:$main-color;
}

.sns-buttons a{
    color:#545454;
}

.sns-buttons a.share-button {
    color: #545454;
    background: white;
    border-radius: 0;
    border:none;
    margin-top:10px;
}

.bc-brand-color-white .sns-buttons a.share-button{
    border-width: 1px;
    border-style: solid;
}

.sns-buttons a:hover {
    transform: translateY(-4px);
    transition:all 500ms;
    color:#545454;
}

.bc-brand-color.sns-share .sns-buttons a,
.bc-brand-color.sns-follow  .sns-buttons a,
.bc-monochrome .sns-buttons a{
    background:#fff;
    border:none;
}

.bc-brand-color a.twitter-button {
    color: #1da1f2;
}

.bc-brand-color a.facebook-button {
    color:#3b5998;
}

.bc-brand-color a.hatebu-button {
    color:#2c6ebd;
}

.bc-brand-color a.instagram-button {
    color: #405de6;
}

.bc-brand-color a.youtube-button {
    color: #cd201f;
}

.bc-brand-color a.linkedin-button {
    color: #0077b5;
}

.bc-brand-color a.note-button {
    color: #41c9b4;
}

.bc-brand-color a.flickr-button {
    color: #111;
}

.bc-brand-color a.pinterest-button {
    color: #bd081c;
}

.bc-brand-color a.pocket-button {
    color:#ef4056;
}

.bc-brand-color a.line-button {
    color:#00c300;
}

.bc-brand-color a.amazon-button {
    color: #ff9900;
}

.bc-brand-color a.rakuten-room-button {
    color: #c61e79;
}

.bc-brand-color a.slack-button {
    color: #e01563;
}

.bc-brand-color a.github-button {
    color: #4078c0;
}

.bc-brand-color a.feedly-button {
    color:#2bb24c;
}

.bc-brand-color a.rss-button {
    color:#f26522;
}

.sns-share-message, .sns-follow-message,span.related-entry-main-heading.main-caption,.comment-title{
	font-size:0;
	text-align: center;
   display: block;
	margin: 50px;
}

.sns-share.ss-high-and-low-lc a .social-icon.button-caption, .sns-share.ss-high-and-low-cl a .social-icon.button-caption, .sns-share.ss-high-and-low-lc a .button-caption.button-caption, .sns-share.ss-high-and-low-cl a .button-caption.button-caption {
    font-size: 10px;
}

.sns-share-message:before,.sns-follow-message:before,
span.related-entry-main-heading.main-caption:before,.comment-title:before{
	font-size: 16px;
   font-family: sans-serif;
   font-weight: 100;
	padding: .5em;
   border-bottom: 2px solid $main-color;
	letter-spacing: .4em;
}

.sns-share-message:before{
	content:"SHARE";
}

.sns-follow-message:before{
   content:"FOLLOW";
}

span.related-entry-main-heading.main-caption:before{
	content:"MORE";
}

.comment-title:before{
	content:"COMMENTS";
}

/*relatedPost*/

.e-card-title {
    font-weight: 100;
}

.related-entry-card-snippet.card-snippet.e-card-snippet {
    color: slategray;
}

.related-list {
    margin: auto;
}

/*comments*/

section.comment-list,div#respond,.comment-btn {
    margin: auto;
}

.comment-respond input#submit {
    width: 100%;
    padding: 1em;
    font-size: 1em;
    color: white;
    background: $main-color;
    border-radius: 30px;
}

a.comment-reply-link {
    border: none;
    background: $main-color;
    color: white;
    border-radius: 30px;
    padding: .5em 1em;
}

.comment-reply-link:after {
    content: "する";
}