/*Table of Contents*********************************************************/

#toc,
.toc {
    position: relative;
    padding: 1rem;
    margin-top: 3rem;
    border: 2px solid $main-color;
    //border-top-left-radius: 7px;
    //border-top-right-radius: 7px;
    border-radius: 4px;
    width: 90%;
    font-size: 1rem;

    .toc-checkbox {
        &:checked + .toc-title::after {
            content: "閉じる";
        }
    }

    .toc-title {
        position: absolute;
        //display: inline-block;
        top: -1em;
        left: -0.4rem;
        font-weight: bold;
        font-size: 1.5rem;
        padding: 0em 0;
        background: white;
        color: darken($main-color, 0%);
        border-radius: 4px;

        &::before {
            font-size: 0.8em;
            background-color: $main-color;
            color: white;
            font-weight: normal;
            border-radius: 1em;
            display: inline-block;
            height: 1.3em;
            width: 1.3em;
            line-height: 1.4em;
            font-family: "FontAwesome";
            content: "\f0ca";
            margin: 0 2rem 0 -2px;
            padding: 0.3em;
        }

        &::after {
            font-size: 0.8rem;
            content: "開く";
            padding: 0.25em 1em;
            margin: 0 3px 0 2rem;
            border-radius: 4px;
            color: $main-color;
            border: 2px solid $main-color;
        }

        &:hover {
            &::after {
                text-decoration: none;
            }
        }
    }

    .toc-list.open {
        padding: 0 2em;
    }

    a {
        transition: all 200ms ease-in-out;
    }

    a:hover {
        text-decoration: none;
        color: $main-color;
    }

    a {
        color: #545454;
    }

    ol.toc-list {
        counter-reset: item;
        list-style-type: none;
        padding-left: 0;
    }

    ol.toc-list > li > a {
        font-weight: bold;
    }

    ol.toc-list > li:before {
        position: relative;
        counter-increment: item;
        content: counter(item) "";
        display: inline-block;
        top: -0.1em;
        width: 1.6em;
        height: 1.6em;
        line-height: 1.7em;
        text-align: center;
        background: $main-color;
        color: white;
        border-radius: 60%;
        margin-right: 0.5em;
        font-weight: bold;
    }

    ol.toc-list li {
        margin: 1em 0;
    }

    .toc-list > li > ol {
        font-size: 0.9em;
        color: slategray;
        padding-left: 3em;
    }

    .toc-list > li > ol > ol {
        padding-left: 0; /*小見出し一つの時用*/
    }
}

@media (max-width: 480px) {
    .toc {
        width: 100%;
        padding: 1rem 0;
    }
}
